* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

/* Struttura dell'header */
header {
    background-color: #fff;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header img {
    width: 100px;
    height: 100px;
}

.header h1 {
    font-size: 4rem;
}


/* Struttura del main */
main {
    background-color: #F6F8FA;
    min-height: 100vh;
    padding-top: 50px;
}

main .container {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Definiamo i bottoni */
.bottoni .task {
    background-color: #45AEF3;
    border: 0;
    border-radius: 5px;
    font-size: 20x;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bottoni {
    padding: 20px 0;
    border-bottom: 7px solid #F9F9F9;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    padding: 30px;
}

.bottoni .section {
    background-color: #FFFFFF;
    border: 1px solid #CFD3CF;
    border-radius: 5px;
    font-size: 20x;
    padding: 10px;
    color: #CFD3CF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Aggiunge una piccola "animazione" quando si passa il mouse sopra il bottone, ingrandendolo di poco */
.bottoni .task:hover {
    transform: scale(1.05);
}

.bottoni .section:hover {
    transform: scale(1.05);
}

.checklist {
    padding: 0px 30px 30px 30px;
}

.newtask h3 {
    font-size: 1.5rem;
}

.newtask .downarrow {
    font-size: 1rem;
    font-weight: bold;
}

/* Imposta il colore dell'svg check, quindi verde */
.check {
    filter: invert(75%) sepia(31%) saturate(4563%) hue-rotate(56deg) brightness(98%) contrast(86%);
}

/* Imposta il colore dell'svg cross, quindi rosso */
.cross {
    filter: invert(24%) sepia(84%) saturate(2085%) hue-rotate(342deg) brightness(84%) contrast(109%);
}

/* Cominciamo a definire la lista, leviamo il "pallino" prima della lista, e impostiamo un po di spazio */
.task-list {
    list-style: none;
    padding: 0 30px 30px;
}

.task-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


/* Definiamo i vari TAG della checklist */
/* Impostiamo il colore, 6px di spazio sopra e sotto e 10 a destra e sinistra, stondiamo i bordi e diamo il colore del testo bianco */
.task-list .editorial {
    background-color: #49AAE5;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    color: #fff;
}

.task-list .goal {
    background-color: #9A74E8;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    color: #fff;
}

.task-list .recruiting {
    background-color: #64C1A9;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    color: #fff;
}

.task-list .mobile {
    background-color: #F0A037;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    color: #fff;
}

.task-list .website {
    background-color: #D8659E;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    color: #fff;
}

.task-list .sales {
    background-color: #ADC922;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    color: #fff;
}